@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: font-Sanchez;
  src: url(./assets/font/Sanchez-Regular.ttf);
}

@font-face {
  font-family: font-MedievalSharp;
  src: url(./assets/font/MedievalSharp-Regular.ttf);
}

.outlineText {
  -webkit-text-stroke: 1px #99fdc7;
  color: transparent;
}

.social-icons .social-icons-wrapper:hover svg,
.social-icons .social-icons-wrapper:hover p {
  fill: #3caa6e;
  color: #3caa6e;
}
